@charset "UTF-8";

@import "vendor/skeleton";

#app {

  text-align: center;
  width: 960px;
  max-width: 960px;
  margin: 50px auto 20px;
  font-family: "Raleway", sans-serif;

  @media screen and (max-width: 960px) {
    width: 100%;
  }

  h1 {
    font-weight: 500;
  }

  .table {
    width: 100%;
    margin: 50px auto;
    border: 1px solid #eee;

    .current {
      &:after {
        content: " ▼";
        font-size: 1.8rem;
      }
    }

    .clickable {
      cursor: pointer;
    }

    thead th {
      background-color: #381F0B;
      color: #fdfdfd;
    }

    th, td {
      text-align: center;
    }

    tr {
      font-size: 1.8rem;

      &:nth-child(even) {
        background-color: #eee;
      }

      &:nth-child(odd) {
        background-color: #fdfdfd;
      }
    }

    .dp {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .credit {
    display: inline-block;
    font-size: 1.8rem;

    a {
      text-decoration: none;
    }
  }

}
